/* ///////////////// */
/* Home Page Hero */
/* ///////////////// */

.home-page-hero {

    @media (width <= 800px) {
        background-position: center !important;
    }


    .gradient-wrapper {
        background: linear-gradient(270deg, rgba(0, 0, 0, 0.00) 28.5%, #1B1B1B 74%);
        padding: 0 60px;
        min-height: 60vh;
        border-bottom: 10px solid var(--accent) ;

        display: flex;
        align-items: center;
        gap: 5vw;
        
        @media (width <= 800px) {
            padding: 60px 16px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 30.5%, rgba(0, 0, 0, 0.95) 75%);

            /* align-items: flex-end; */
            justify-content: flex-end;
            flex-direction: column;
            gap: 30px;
        }

        .dashes {
            @media (width <= 800px) {
                order: 2;
            }
        }

        .hero-text {
            max-width: 33.27vw;

            @media (width <= 800px) {
                max-width: none;
                order: 1;
            }

            h1 {
                color: var(--light);
                text-shadow: var(--text-shadow);
                margin-bottom: 25px;    
            }

            h4 {
                color: var(--light);
            }
        }
    }
}


/* ///////////////// */