/* ///////////////// */
/* Navigation*/
/* ///////////////// */

header.navigation {
    background-color: var(--primary-red);
    position: relative;

    .head {
        padding: 40px  37px 0 37px; 

        @media (width <= 800px) {
            padding: 55px 16px 0 16px;
        }
    }


    .phone-callout {
        background-color: var(--light);
        border: 3px solid var(--primary-blue);
        padding: 10px 20px;
        width: fit-content;

        display: flex;
        gap: 10px;

        position: absolute;
        top: 10px;
        right: 30px;

        @media (width <= 800px) {
            position: relative;
            top: 0px;
            right: 0px;
            width: auto;

            margin-bottom: 20px;
        }

        img {
            width: 45px;
            height: 45px;
        }

        .callout-text {
            .accent-text {
                color: var(--primary-blue);
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: uppercase;

                margin-bottom: 5px;
            }

            a {
                color: var(--primary-blue);
                font-family: Roboto;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: capitalize;
            }
        }
    }

    .logo-name {
        display: flex;
        align-items: center;
        gap: 26px;

        .logo {
            max-width: 12vw;
            max-height: 12vw;

            border: 7px solid var(--dark);

            @media (width <= 800px) {
                flex: 0 1 85px;
                max-width: 85px;
                max-height: 85px;

                border: 4px solid var(--dark);
            }
        }

        .company-name {
            color: var(--light);
            font-family: Roboto;
            font-size: clamp( 33px, 4.87vw, 80px);
            font-style: normal;
            font-weight: 800;
            line-height: 100%; /* 70px */
            letter-spacing: 9.8px;

            text-shadow: var(--text-shadow);

            @media (width <= 800px) {
                /* font-size: 33px; */
                font-weight: 700;
                letter-spacing: 2.31px;
            }
        }

        .mobile-hamburger {
            width: 45px;
            height: 45px;
            flex-shrink: 0;

            border: 2px solid var(--light);
            border-radius: 50px;
            background-color: var(--primary-blue);

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .temp-nav-line {
        height: 68px;
        background-color: var(--accent-darker-60);
        margin-top: -40px;

        @media (width <= 800px) {
            height: 25px;
            margin-top: -10px;
        }
    }


    nav.desktop {
        min-height: 68px; /* Fix me */

        background-color: var(--accent-darker-60);
        padding: 0px 30px;
        margin-top: -40px;

        display: flex;
        justify-content: flex-end;

        a.main-nav {
            color: var(--light);
            padding: 20px 30px;
            width: fit-content;
            min-width: 10.63vw;
            transition: background-color ease-in-out 300ms;
            position: relative;

            display: flex;
            justify-content: center;

            font-family: Roboto;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.48px;

            /* border-bottom: 5px solid var(--accent-darker-60); */

            &::after {
                content: " ";
                display: block;
                width: 0;
                background-color: var(--light);
                height: 5px;
                position: absolute;
                bottom: 0;
                left: 50%;
                transition: all 400ms ease;
            }
            

            &:hover {
                text-decoration: none;

                background-color: #01224780;
                /* border-bottom: 5px solid var(--light); */

                &::after {
                    width: 100%;
                    left: 0;
                }

                
            }
        }

        .dropdown-nav {
            width: fit-content;
            background-color: var(--primary-blue);
            padding: 20px 30px;
            min-width: 10.63vw;
            /* min-width: 213px; */
    
            display: flex;
            flex-direction: column;
            gap: 10px;

            position: absolute;
            opacity: 0;
            transition: all ease-in-out 300ms;
            transform: translateY(-10px);

            a {
                margin: 0;
                padding: 10px;
                
                color: var(--light);
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: 110%;

                border-left: 5px solid var(--primary-blue);

                &:hover {
                    text-decoration: none;
    
                    background-color: rgba(244, 244, 244, 0.10);
                    border-left: 3px solid var(--light);
                }
            }
        }

        .nav-container.services:hover .dropdown-nav {
            transform: translateY(0); 
            opacity: 1;
        }
    }

    .mobile-nav {
        background-color: var(--primary-blue);
        padding: 55px 16px 0 16px;
        height: 100vh;
        width: 100vw;

        position: absolute;

        display: flex;
        flex-direction: column;
        gap: 14px;

        .back-arrow {
            align-self: flex-end;
            width: 45px;
            height: 45px;
            flex-shrink: 0;

            border: 2px solid var(--light);
            border-radius: 50px;
            background-color: var(--primary-red);

            display: flex;
            align-items: center;
            justify-content: center;
        }

        nav.mobile {
            display: flex;
            flex-direction: column;
            gap: 10px;

            a.main-nav {
                padding: 10px;
            }
        }
    }
    

}

/* ///////////////// */


/* ///////////////// */
/* Dashes */
/* ///////////////// */
.dashes {
    min-height: 60vh;
    padding: 40px 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 45px;
    /* align-items: space-between; */

    .dash {
        background-color: var(--light);

        flex: 1;
        width: 16px;
    }
}

/* ///////////////// */


/* ///////////////// */
/* Footer*/
/* ///////////////// */
footer {
    background-color: var(--primary-red);

    .footer-text {
        padding: 00px 30px 30px 30px;
        display: flex;
        /* align-items: center; */
        gap: 6vw;
        /* justify-content: space-between; */

        border-top: 66px solid var(--accent-darker-60);

        @media (width <= 1100px) {
            flex-direction: column;
        }

        @media (width <= 800px) {
            padding: 0 16px 30px 16px;
        }

        .logo-name {
            display: flex;
            align-items: center;
            gap: 20px;

            /* flex-shrink: 0; */
        
            img {
                max-width: 12vw;
                max-height: 12vw;
                border: 7px solid var(--accent-darker-60);

                margin-top: -30px;

                @media (width <= 800px) {
                    max-width: 26vw;
                    max-height: 26vw;

                    border: 4px solid var(--accent-darker-60);
                }
            }

            .company-name {
                color: var(--light);
                text-shadow: var(--text-shadow);
                font-family: Roboto;
                font-size: clamp(40px, 3.5vw, 65px);
                font-style: normal;
                font-weight: 800;
                line-height: 110%; /* 66px */
                letter-spacing: 2.4px;
            }
        }

        .contact-us-opts {
            /* flex: 1; */

            height: fit-content;
            margin: auto 0;

            display: grid;
            grid-template-columns: [s] 1fr [m] 1fr [e];
            column-gap: 10px;
            row-gap: 20px;
            

            @media (width <= 800px) {
                grid-template-columns: [s] 1fr [e];
            }
        }
    }

    .bottom-footer {
        border-top: 1px solid var(--light);
        margin:  0 36px;
        padding: 15px 0;
        
        display: grid;
        grid-template-columns: [s] 1fr [m] 1fr [mm] 1fr [e];

        @media (width <= 800px) {
            grid-template-columns: [s] 1fr [e];
            row-gap: 10px;
            text-align: center;
        }

        p {
            color: var(--light);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%;

            margin: auto 0;

            &:last-of-type {
                text-align: right;
            }

            &:nth-last-of-type(2) {
                text-align: center;
            }
        }
    }
}
/* ///////////////// */


/* ///////////////// */
/* White Icon with Text*/
/* ///////////////// */

.white-icon-text {
    display: flex;
    align-items: center;
    gap: 15px;

    flex: 0 1 373px;

    .white-circle-icon {
        /* padding: 5.5px 5px 4.5px 5px; */
        width: 45px;
        height: 45px;
        background-color: var(--light);
        border-radius: 100px;

        display: flex;
        align-items: center;
        justify-content: center;

        flex-shrink: 0;
    }

    .text {
        margin: auto 0;

        p, a {
            color: var(--light);
            font-family: Roboto;
            font-size: clamp(18px, 2vw, 20px);
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
        }
    }
}

/* ///////////////// */


/* ///////////////// */
/* Copy 2:1 Media */
/* ///////////////// */

.copy2-media1 {
    &.red {
        h2 {
            color: var(--primary-red)
        }
    }

    &.blue {
        h2 {
            color: var(--primary-blue)
        }
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;

    .copy2 {
        flex: 2 1 760px;

        display: flex;
        flex-direction: column;
        gap: 30px;
        
    }

    .media1 {
        flex: 1 1 530px;
        min-height: 400px;

        background-size: cover;
        background-position: center;
        /* img {
            max-width: 100%;
        } */
    }
}

/* ///////////////// */


/* ///////////////// */
/* Copy 2:1 Media */
/* ///////////////// */

.primary-btn-holder {
    .primary-btn {
        display: flex;
        align-items: center;
        gap: 10px;

        padding: 15px 20px;
        width: fit-content;

        &.red {
            background: linear-gradient(to left, var(--primary-red) 50%, var(--primary-red-darker-30) 50%);
            background-position: right;
            background-size: 200%;

            border-left: 5px solid var(--primary-red-darker-30);

            &:hover {
                background-position: left;
            }
        }

        &.blue {
            background: linear-gradient(to left, var(--primary-blue) 50%, var(--primary-blue-lighter-30) 50%);
            background-position: right;
            background-size: 200%;

            border-left: 5px solid var(--primary-blue-lighter-30);

            &:hover {
                background-position: left;
            }
        }

        p {
            color: var(--light);
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
        }

        &:hover {
            text-decoration: none;
        }
    }
}

/* ///////////////// */


/* ///////////////// */
/* Vertical Card */
/* ///////////////// */

.vertical-card {
    border-top: 5px solid;
    border-bottom: 5px solid;
    padding: 30px;

    &.red {
        border-color: var(--primary-red);

        h4 {
            color: var(--primary-red);
        }
    }

    &.blue {
        border-color: var(--primary-blue);

        h4 {
            color: var(--primary-blue);
        }
    }

    .icon-bg {
        &.red {
            background-color: var(--primary-red);
        }

        .blue {
            background-color: var(--primary-blue);
        }

        width: 70px;
        height: 70px;
        border-radius: 100px;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 50px;
            height: 50px;
        }
    }

    h4 {
        margin: 10px 0;
    }
}



/* ///////////////// */