/* ///////////////// */
/* Homepage */
/* ///////////////// */

.home-page-wrapper {

    section.about-us {
        padding: 120px 60px;

        .multiple-vertical-cards {
            display: flex;
            align-items: stretch;
            gap: 40px;
        }
    }
}

/* ///////////////// */